@charset "UTF-8";

.footer-content {
    background-color: black;
    width: 100%;
    height: auto;
    padding: 20px;
    color: white;
    font-size: 0.6rem;
}

.footer-content h3 {
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
}

.footer-content hr {
    background-color: white;
}